
.CubeCourses h2{
background-color:  #fff;
padding-bottom: 60px;
}

.CubeCourses .background{
    background-color: rgba(231, 208, 168, 0.58);
}

.CubeCourses .background{
    padding: 10px 10px;
}

.CubeCourses .background p{
    margin-top: 40px;
}

.CubeCourses h3{
    padding: 30px;
}

.CubeCourses  button{
    background: transparent;
    border: none;
}






@media only screen and (max-width: 600px) {

 
    .CubeCourses .background {
        padding: 10px 10px;
        height: 800px;
    }

    .CubeCourses .slider{
        height: 700px;
    }
    
    .CubeCourses .slider svg{
       width: 30px;
    }
    
    .CubeCourses .slider img{
        width: 250px !important;
        padding-top: 50px;
     }

     .slider-control-bottomcenter
     {
         display: none
     }



}