@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif !important;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 16px;
    }
}

h1, .h1  {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
}

h1 .especial{
    font-family: 'Merriweather', serif;    
    font-size: 1.6rem;
    position: relative;
    top: -20px;
}

h2,.h2{
    padding: 10px 0px;
    font-size: 1.5rem !important;
    font-weight: bold;
    display: block;
    font-family: 'Merriweather', serif;
}

h3, .h3 {
    padding: 10px;
    font-size: 1rem !important;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

h4, .h4 {
    padding: 10px;
    font-size: .7rem !important;
}

p{
    line-height: 1.6rem;
    font-size: 1rem !important;
    font-weight: 400;
    padding: 5px 0px;
}

a{
    cursor: pointer;
}

a:hover{
    transform: scale(1.01);
}

.section{
    padding: 20px;
}

.cta{
    margin: auto;
    text-align:center;
    padding:15px 50px;  
    max-width: 400px;
    display: block;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: firebrick;
    max-width: 100%;
    width: 100%;
    color: #fff !important;
    float: right;
    border:none;
    padding:15px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    display: block;
    margin: auto;
}

.header img,
.footer img{
    float:left
}

.mobile{
    display: none;
}

.footer{
    padding:100px 10px 40px;
}

.footer p{
   padding: 10px 0px 
}


.header{
    padding:10px;
}

.header p{
   padding: 10px 0px 
}


.btn-primary {
    color: #fff;
    background-color:#A76A25;
    border-color: #A76A25;
}


.btn-primary:hover {
    color: #fff;
    background-color: #A76A25;
    border-color: #A76A25;
}



.CubeBanner .btn-primary,
.CubeForm .btn-primary,
.CubeIncludes .btn-primary{
    display: block;
    margin: auto;
}


.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active, 
 .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #94908e;
    border-color: #d2d2d2;
}


.CubeBanner .btn {
    max-width: 600px;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#sectionC{
    background-image: url('./img/background.jpg') !important;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: auto;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


 


@media only screen and (max-width: 1000px) {
    #Page01 #sectionA {
        background-image: url('./img/banner.png') !important;
        padding-top: 200px;
        padding-bottom: 200px;
        min-height: 500px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    #page02 #sectionB{
        height: 300px !important;
        padding: 10px !important;
        padding-top: 100px;
    }

    #page02 #sectionA{
        padding: 50px 10px !important;  
        margin-top: 600px;
    }
   
}


@media only screen and (max-width: 600px) {
  
    #page02 #sectionA{
        padding: 50px 10px !important;  
        margin-top: 300px;
    }
   
}


#Page03 #sectionA {
    background-image: url('./img/lp2/banner.png') !important;
    padding-top: 200px;
    padding-bottom: 0px;
    min-height: 700px;
    background-size: cover !important;
    background-position: center !important;
}

#Page03 .bannerBottom {
    background-image: url('./img/lp2/bannerBottom2.png') !important;
    min-height: 600px;
    background-size: cover !important;
    background-position: center !important;
    max-width: 100%;
    z-index: 999;
}

#Page03 .bannerBottom {
   position: relative;
   top:0px
}
#Page03 .bannerBottom svg{
    color:#6F6B5B !important
}

#Page03 .footer{
    padding-top: 100px;
}


#Page03 .btn-primary {
    color: #fff;
    background-color: #5AB5E9;
    border-color: #5AB5E9;
}

#Page03 .bannerBottom p{
    color:#6F6B5B !important
}

.footer svg{
    font-size: 60px;
    color: #fff;
    text-align: right;
    float: right;
}


.footer p{
    display: block;
    float: right;
    text-align: right;
}


.footer svg:hover{
    transform: scale(1.1);
}


.footer{
padding-top:300px;
color: #fff;
}

.footer .logo{
    max-width: 200px;
}


#page02 .footer {
     padding-top: 100px;
         color: #6F6B5B !important;
}

#page02 .footer svg {
        color: #6F6B5B !important;
}


#Page03  .CubeForm form input {
    background-color: #E2E8E9;
}

.moduloA001 h2{
        padding: 100px 20px;
        text-align: center;
        font-size: 1.5rem !important;
        line-height: 2rem;
        padding-bottom: 10px;
        max-width: 800px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;

}

.moduloA001 .line {
    position: relative;
    top: 150px;
    left: -150px;
    width: 200px;
}

.moduloA001 .rectangule {
    position: relative;
    top: 130px;
    left: 30px;
}

.moduloA001 .line2 {
    position: relative;
    top: 150px;
    left: 100px;
    width: 200px !important;
}

@media only screen and (max-width: 1400px){

    .moduloA001 .line {
        left: -100px;
        width: 100px;
    }
    
    .moduloA001 .line2 {
        width: 100px !important;
    }

}



@media only screen and (max-width: 1250px){

    .moduloA001 .line {
       display: none !important
    }
    
    .moduloA001 .line2 {
        display: none !important
     }
     

}




.moduloA001 .rectangule2 {
    position: relative;
    top: 130px;
    left: -30px;
}

.fondo001{
    background-color: #F6FBfe !important;
}



.moduloA002 .icon{
    position: relative;
    top: 70px;
    width: 300px;
    left: -100px;
}



.moduloA002 h2{
    text-align: center;
    font-size: 1.2rem !important;
    line-height: 1.5rem;
}

.moduloA002 p{
    text-align: center;
    font-size: .9rem !important;
    line-height: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.moduloA002 {
    padding: 70px 10px;
    background-color: linear-gradient(359.23deg, rgba(224, 241, 251, 0.0198) 0.55%, rgba(210, 235, 249, 0.22) 18.19%, rgba(90, 181, 233, 0.0286) 99.38%);
}


.moduloA003 h2{
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem;
    padding-bottom: 10px;
    max-width: 900px;
    margin: auto;
}


@media only screen and (max-width: 1250px){
    .moduloA003 h2{
        max-width: 600px;
        line-height: 2.2rem;
    }
}



.moduloA003 p{
    padding: 50px 20px;
        text-align: center;
        font-size: 1.2rem !important;
        line-height: 2rem;
        padding-bottom: 10px;
        max-width: 1200px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;

}

.moduloA003  {
    padding: 70px 10px;
}


.moduloA004 h2{
    text-align: center;
    font-size: 1.7rem !important;
    line-height: 1.5rem;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.moduloA004 h3{
    text-align: left;
    font-size: 1rem !important;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding-bottom: 40px;
    
}

.moduloA004.container{
    width: 100%;
    max-width: 100%;
}

.moduloA004 p{
    text-align: left;
    font-size: .9rem !important;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 900px;
    margin: auto;
  }

.moduloA004 img{
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
}


.moduloA004 .marco{
    padding: 0px;
}

.moduloA004 .parrafo{
    padding: 10px 40px;
}


.moduloA004 .parrafo.header{
    background-color: #D9DBFE;
}



@media only screen and (max-width: 1100px) {

    .moduloA004 h2{
        font-size: 1.5rem !important;
        padding-top: 10px;
    }

    .moduloA004 .parrafo{
        padding: 10px 20px;
    }

    .moduloA004 p {
        font-size: .7rem !important;
    } 

}

@media only screen and (max-width: 769px) {

    .moduloA004 .parrafo{
        padding: 30px 30px;
    }

    .moduloA004 img{
      max-width: 400px;
    }

    .moduloA004 p {
        font-size: .9rem !important;
        padding: 10px 30px;
    } 

    .moduloA004 h3 {
        padding: 10px 30px;
    } 

    .moduloA004 h2 {
        padding: 10px 30px;
    } 

}


@media only screen and (max-width: 600px) {

    .moduloA004 h2{
        font-weight: bold;
        font-size: 1.7rem !important;
        margin-top: 30px;
    }
}

 


.moduloA005{
    padding: 100px 20px 0px;
    padding-bottom: 10px;

}

.moduloA005 img{
    border-radius: 50%;
}

.moduloA005 h3{
    padding: 30px 10px;
   text-align: center;
   font-weight: 300 !important;
   color:#A46152;
   font-size: 2rem !important;
   font-family: Merriweather;

}

.moduloA005 h2{
    padding: 40px 10px 10px;
   text-align: center;
   color:#A46152;
   font-family: Montserrat;

}

.cardLeft{
    position: absolute;
    top: -202.563px;
    left: 70px;
    width: 20px;
    height: 55px;
}

.cardRight{
    position: absolute;
    width: 20px;
    top: -204px;
    left: 447px;
    height: 55px;
}
.topCard{
    width: 430px;
    position: absolute;
    z-index: 99;
    top: -200px;
    left: 60px;
}

.pricingCard{
    margin: auto;
    display: inline-block;
    position: relative;
    width: 500px;
}


.pricingCard h2 {
    color: #2b2a2a !important;
    max-width: 500px;
    line-height: 2.2rem;
}


@media only screen and (max-width: 769px) {

    .pricingCard{
        left: 0%;
    }

    .noMobile{
        display: none;
    }

    .mobile{
        display: block;
    }

    .moduloA005 img{
        max-width: 200px;
    }


}


@media only screen and (max-width: 600px) {
   
    .pricingCard{
        margin: auto;
        display: inline-block;
        position: relative;
        width: 280px;
    }

    .topCard{
        top: -240px;
        left: 30px;
        width: 276px;
    }

}

.moduloA005 p{
    padding: 4px 20px;
    text-align: left;
    font-size: 1rem !important;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
}



.rectangule1{
    position: absolute;
    right: 0px;
    bottom: -400px;
    border-radius: 0% !important;
    z-index: -1;
    height: 500px;
}

.moduloA006{
    padding: 20px 20px;
}

.moduloA006 h3{
    background: rgba(189,100,249,1);
    background: -moz-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,100,249,1)), color-stop(100%, rgba(179,70,248,1)));
    background: -webkit-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: -o-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: -ms-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: linear-gradient(to right, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd64f9', endColorstr='#b346f8', GradientType=1 );
    color: #fff;
    font-size: .8rem !important;
    text-align: center;
    font-weight: 400;
    font-family: 'Merriweather', serif;

}


.moduloA006 h2{
    font-size: 2rem !important;
    text-align: center;
    font-weight: 500;
    padding: 20px 10px;
    font-family: Montserrat;
}

.moduloA006 .cardSubtitleLeft{
    font-size: .8rem !important;
    color:#A46152;
    font-family: 'Merriweather', serif;
    font-weight: 200;
    float:left
}

.moduloA006 .cardSubtitleRight{
    float:right;
    font-size: 1rem !important;
    font-family: 'Montserrat' sans-serif;
    margin-right: 20px;
}

.moduloA006 p{
    margin-bottom: 20px;
    height: 50px;
    max-width: 300px;
    margin: auto;
}


.moduloA006 ul{
    padding: 10px 3px;
    margin: 0px;
    list-style: none;
    padding-left: 20px;
    padding-bottom: 30px;
    max-width: 350px;
}
.moduloA006 li{
    font-size: .7rem !important;
    text-align: left;
    font-weight: 400;
    padding: 5px 2px;
}

.moduloA006 p{
    font-size: .7rem !important;
    text-align: left;
    font-weight: 400;
    padding: 5px 2px;
    margin-bottom: 0px;
    padding-left: 20px;
}

.moduloA006 .wrapper{
    max-width: 350px;
    margin: auto;
    background: #E0F1FB;
    position: absolute;
    margin: auto;
    display: block;
    left: 20%;
    top:-200px;
   
}

.moduloA006 h4{
    background-color: #5ab5e9;
    color: #fff;
    font-size: .8rem !important;
    text-align: center;
    font-weight: 600;
    margin: 0;
    cursor:pointer
}


.bannerBottom{
    background-image: url('./img/lp2/bannerBottom2.png') !important;
    min-height: 700px;
    background-size: cover !important;
    background-position: center !important;
    max-width: 100%;
    z-index: -1;
}


@media only screen and (max-width: 600px) {
    #Page03 .bannerBottom{
        background-image: url('./img/lp2/fondo002.svg') !important;
        min-height: 400px;
    }

    .footer .logo {
        max-width: 120px;
    }

}

#Page04 .btn-primary {
    color: #fff;
    background-color: #5AB5E9;
    border-color: #5AB5E9;
}


.moduloAB001{
    padding: 70px 20px;
}


.moduloAB001 h2{
    color: #A46152;
    font-size: 1.5rem !important;
    line-height: 2rem;
    max-width: 1100px;
}


@media only screen and (max-width: 600px) {
    .moduloAB001 h2{
        text-align: center;
    }
}

.moduloAB001 p{
    padding: 4px 20px;
    text-align: left;
    font-size: 1rem !important;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
}

.moduloAB001 .parrafoBottom{
max-width: 220px;
margin:auto;
display: block;
position: relative;
top:10px;
margin-bottom: 30px;
margin-top: 10px;

}

.moduloAB002{
    position: relative;
}


.moduloAB002 h2{
    color:#A934F5;
    font-size:1.4rem !important;
    line-height:1.5rem;
    text-align:center;
    padding-bottom: 40px;
    padding-top:100px;
}

.moduloAB002 ul{
    list-style-type: disc !important;
 
}

.moduloAB002  ul {
    list-style-image: url('./img/lp2/elipse.png');
    list-style-position: outside;

  }

.moduloAB002 li{
    font-size: .9rem !important;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 900px;
    margin-bottom: 30px;
    padding-left: 30px;
}


.moduloAB003{
        padding: 70px 10px;
}


.moduloAB003 h2{
  text-align: center;
   font-size: 1.3rem !important;
   margin-bottom: 0px;
   font-family: 'Merriweather' sans-serif;
   font-weight: 100;
}


@media only screen and (max-width: 600px) {
    .moduloAB002 h2{
       max-width: 250px !important;
       display: block;
       margin: auto;
       line-height: 2rem;
    }
}

.moduloAB003 h3{
    text-align: center;
     font-size: 1rem !important;
     font-family: 'Merriweather' sans-serif;
     margin-top: 1px;
     padding: 0px;
}

.moduloAB003 p{
    font-size: .9rem !important;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 600px;
    display: block;
    margin: center;
    text-align: center;
    margin-top: 50px;
    height: 90px;
}


.intro12 .moduloAB003  p.title{
    max-width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

.intro12 .moduloAB003 p{ 
    margin-top: 5px;
    height: auto !important;
    text-align: center;

}



.intro12 .moduloAB003 img{
    margin-top: 40px;
}


@media only screen and (max-width: 600px) {

.moduloAB003 p{
    font-size: 1.4rem !important;
    line-height: 2rem;
    height: 100px;
}
}

.moduloAB003 img{
    width: 100%;
    max-width: 300px;
}


.line1{
    position: relative;
    left: -260px;
    width: 300px !important;
    height: 1px;
    top: 25px;
}

.line2{
    position: relative;
    left: 260px;
    width: 300px !important;
    height: 1px;
    top: -26px;
}

@media only screen and (max-width: 400px) {



}

.moduloAB004{
    margin-top: 50px;
}


.moduloAB004 img{
 width: 60px;
 position: relative;
 top:-10px;
 left: -10px;
}

.moduloAB004.graduados  img.stars {
    width: 250px;
     position: initial; 
    padding-bottom: 30px;
}

.moduloAB004.graduados h2 {
    color: #565454;
    font-size: 1rem !important;
    letter-spacing: 0px;
    text-align: center;
}

.moduloAB004 img.icon1{
   width: 50px !important;
}

.moduloAB004 .icon2{
    width: 70px !important;
}

.moduloAB004 .icon3{
    width: 80px !important;
    left: -20px;
}


.moduloAB004 .icon4{
    width: 80px !important;
}


.moduloAB004 h2{
 color:#A46152; 
 font-size: 1.2rem !important;
  padding-left: 20px;
 letter-spacing: .1rem;
}

@media only screen and (max-width: 600px) {

    .moduloAB004 h2{
        font-size: 1.3rem !important;
        line-height: 2rem;
        max-width: 90%;
        letter-spacing: 0rem;
        
        }

        .moduloAB004 p{
      
            max-width: 90%;
            padding-left: 15px;
            
            }

    }


.moduloAB004 p{
    font-size: .9rem !important;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 70px;
}

.moduloAB005{
    padding: 50px 10px;
    background-image: url('./img/lp2/bottom2.png') !important;
    padding-top: 100px;
    padding-bottom: 20px;
    min-height: 600px;
    background-size: cover !important;
    background-position: center !important;
    max-width: 100%;

}


.moduloAB005 h2 {
    color: #fff !important;
    line-height: 2.6rem;
    max-width: 800px;
    text-align: center;
    padding-left: 10%;
    font-size: 2rem !important;
}



.moduloAB005 .pricingCard  h2{
    color:#000 !important;
    line-height: 2rem;
  }
   
.pricingCard .wrapper{
    display: block;
    margin:auto
}



.pricingCard{
    max-width: 500px;
    margin: auto;
    display: block;
    background-color: #E0F1FB;
    padding-bottom: 0px;
    margin-top: 100px;
    left: 0%;
}

.moduloA001 .pricingCard{
    left: 0%;
}

.pricingCard h2{
    font-size: 2rem !important;
    text-align: center;
    font-weight: 500;
    padding: 20px 10px;
    font-family: Montserrat;
}


.pricingCard li{
    max-width: 400px;
    padding-bottom: 10px;
    font-size: .9rem;
}

.pricingCard h3{
    text-align: center;
    padding: 20px;
    font-size: 2rem !important;
    font-family: 'Montserrat' sans-serif;

}

.pricingCard p{
    text-align: left;
    padding-left: 0px;
    height: 60px;
}


.pricingCard h3{
    background: rgba(189,100,249,1);
    background: -moz-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,100,249,1)), color-stop(100%, rgba(179,70,248,1)));
    background: -webkit-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: -o-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: -ms-linear-gradient(left, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    background: linear-gradient(to right, rgba(189,100,249,1) 0%, rgba(179,70,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd64f9', endColorstr='#b346f8', GradientType=1 );
    color: #fff;
    font-size: 1rem !important;
    text-align: center;
    font-weight: 400;
    font-family: 'Merriweather', serif;

}


.pricingCard h4{
    background-color: #5ab5e9;
    color: #fff;
    margin-bottom: 0px;
    margin: 0px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem !important;
}

.pricingCard h2{
  color:#fff;
  line-height: 2.2rem;
}

.pricingCard .cardSubtitleLeft{
    font-size: 1rem !important;
    color: #A46152;
    font-family: 'Merriweather', serif;
    font-weight: 200;
    float: left;
}

.pricingCard .cardSubtitleRight{
    float: right;
    font-size: 1.2rem !important;
    font-family: 'Montserrat', sans-serif;
    margin-right: 0px;
}

.pricingCard p{
    margin-bottom: 20px;
    height: 50px;
    max-width: 400px;
    margin: auto;
}


.pricingCard ul{
    padding: 10px 3px;
    margin: 0px;
    list-style: none;
    padding-left: 20px;
    padding-bottom: 30px;
    max-width: 90%;
}
.pricingCard li{
    font-size: .9rem !important;
    text-align: left;
    font-weight: 400;
    padding: 5px 2px;
}


.miniForm{
    transform: scale(0.5);
    position: absolute;
    top: 400px;
    left: 0px;
    z-index: 999;
}




@media only screen and (max-width: 1300px) {
    .miniForm{
        transform: scale(0.4);
        position: absolute;
        top: 400px;
        left: -100px;
        z-index: 999;
    }
}

.carousel {
    position: relative;
    padding: 0px 100px;
    height: 200px;
    text-align: center;
}


.carousel-control-prev-icon {
    background-image: url('./img/lp2/left.png') !important;
}

.carousel-control-next-icon {
    background-image: url('./img/lp2/right.png') !important;
}

.horizontal1{
    position: absolute;
    width: 400px;
    left: -300px;
    opacity: .2;
    top: -150px;
}


.horizontal2{
    position: absolute;
    width: 400px;
    right: -300px;
    opacity: .2;
    top: -150px;
}

@media only screen and (max-width: 400px) {

    .carousel {
        padding: 0px 40px;
    }
    

}


@media only screen and (max-width: 600px) {

        .CubeForm form {
            max-width: 400px;
            margin: auto;
        }

        .pricingCard p{
            padding-left: 10px;
            padding-right: 10px;
        }

        .horizontal1{
            left: -250px;
        }


        .horizontal2{
            right: -250px;
        }
}


.ctaVersion11{
    background: #5AB5E9;
    padding: 20px 40px;
    color: #fff  !important;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: auto;
    display: block;
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-decoration: none !important;
}

.ctaVersion11:hover{
    color: #fff !important;
    text-decoration: none !important;
}

#Page04 .facebookInfo{
    display:none
}


.ytp-hide-controls .ytp-watermark {
    display: none !important
    }

.player-wrapper{
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }  

.player-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
}  


.intro12 .moduloAB005{
    padding: 50px 10px;
    background-image: url('./img/background.jpg') !important;
    padding-top: 100px;
    padding-bottom: 20px;
    min-height: 600px;
    background-size: cover !important;
    background-position: center !important;
    max-width: 100%;
}

.intro12 .graduados h2{
    line-height: 1.7rem;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
}

.intro12 .graduados p{
  font-weight: 100;
font-size: .7rem !important;
color:gray;
font-style: italic;

}

.shoppingCard{
    float:left;
    position: relative;
    left: 80px;
    top:-5px
}

.fixVideo{
    position: fixed;
    top: -350px;
    left: 0px;
    right: 0px;
    max-width: 400px;
    z-index: 99999;
}

#Page03.oferta12 .frase{
    padding-bottom: 150px;
}

@media only screen and (max-width: 1600px) {
    .fixVideo{
        top: -250px;
    }
}

@media only screen and (max-width: 1300px) {
    .fixVideo{
        top: -150px;
    }
}

@media only screen and (max-width: 769px) {
        .fixVideo{
            top: 0px;
        }
}

/* new version */
.fixVideo{
    padding-top: 930px !important;
}

.fixmobil{
    padding-top:300px !important;
}
/* new version */

@media only screen and (min-width: 1850px) {
    #Page03.oferta12 .ContainerVideo {
        min-height: 1600px !important;
        margin-top: 200px;
        padding-top: 200px;
    }
}

@media only screen and (min-width: 1700px) {
    #Page03.oferta12 .ContainerVideo {
        min-height: 1000px !important;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1600px) {
    .fixVideo{
        padding-top: 730px !important;
    }
}

@media only screen and (min-width: 1300px) {
  
    #Page03.oferta12 .Video{
        height: auto !important;
    } 

    #Page03.oferta12 .ContainerVideo {
        height: 700px;
        margin-top: -50px
    }

}

@media only screen and (max-width: 1301px) {
    .fixVideo{
        padding-top: 730px !important;
    } 
}

@media only screen and (max-width: 1300px) {
    .fixVideo{
        padding-top: 530px !important;
    } 
}

@media only screen and (max-width: 770px) {
    .fixVideo{
        padding-top: 330px !important;
    } 
    .fixmobil{
        padding-top:100px !important;
    }
}

@media only screen and (max-width: 600px) {
    .fixVideo{
        padding-top: 200px !important;
    } 

    #Page03 .btn-primary {
        font-size: 14px !important;
    }

    .shoppingCard {
        left: 0px !important;
        top: -10px !important;
    }
}

/* new version */
#Page03.oferta12  {
    background-image: none !important;
    background:#F6FBFE !important;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 700px;
    background-size: cover !important;
    background-position: center !important;
}


/* new version */


@media only screen and (max-width: 1100px) {

    #Page03.oferta12 .ContainerVideo .h1{
        font-size: 1.5rem !important;
    }
    
    #Page03.oferta12 .ContainerVideo .especial{
        font-size: 1.2rem !important;
    }
   
    
    #Page03.oferta12 .ContainerVideo {
        max-height: 600px;
        padding-top: 30px;
    }

}  

@media only screen and (max-width: 940px) {

    #Page03.oferta12 .ContainerVideo .h1{
        font-size: 1.1rem !important;
        line-height: 1.5rem;
    }
    
    #Page03.oferta12 .ContainerVideo .especial{
        font-size: 1rem !important;
        line-height: 1rem;
    }
   
    
    #Page03.oferta12 .banner .ContainerVideo {
        max-height: 600px;
        padding-top: 30px;
        min-height: 500px;
    }

    .Video {
        height: 600px;
    }

    #Page03.oferta12 .banner  .CubeForm {
        max-width: 400px;
    }

    #Page03.oferta12 .banner .CubeForm  .btn-primary{
      font-size: .8rem !important
    }

   
}  

@media only screen and (max-width: 769px){


    #Page03.oferta12  form input {
        font-size: .7rem !important;
    }

    .Video {
        height: 400px;
    }

#Page03.oferta12 .banner .ContainerVideo {
    min-height: 0px;
    padding: 30px;
    margin-top: 20px;
    background: #ebe5ead4;
    border-radius: 30px;
    padding-top: 10px !important;
    position: relative;
    top: -350px;
}
#Page03.oferta12 .banner .CubeForm {
    max-width: 400px;
    height: 150px;
    }
  

}

@media only screen and (max-width: 600px) {


    #Page03.oferta12 .ContainerVideo .h1{
        font-size: 1.5rem !important;
        line-height: 1.8rem;
    }
    
    #Page03.oferta12 .ContainerVideo .especial{
        font-size: 1.3rem !important;
        line-height: 1rem;
    }

    #Page03.oferta12 .banner .CubeForm {
    max-width: 400px;
    height: 100px;
    }
  

    #Page03.oferta12 .banner .ContainerVideo {
        min-height: 0px;
        padding: 30px;
        margin-top: 20px;
        background: #ebe5ead4;
        border-radius: 30px;
        padding-top: 10px !important;
        position: relative;
        top: -200px;
    }

    #Page03.oferta12 .frase{
        max-width: 400px;
        margin: auto;
        font-size: 1.5rem !important;
        line-height: 2.4rem;
        padding-bottom: 50px;

    }
    
}


.oferta13 #sectionA.section01{
    padding-top:20px !important;
    padding-bottom: 40px !important;
}